:root {
    /* Color Variables */
    --color-primary: #4F1CEE;
    --color-primary-variant: #6C63FF;
    --color-primary-light: #6E45ED;
    --color-primary-dark: rgb(24, 8, 77);
    --color-primary-dark-variant: rgb(33, 9, 107);
    --color-variant: rgba(39, 132, 158, 1);
    --color-white: #f2f2fe;
    --color-red: #da0f3f;
    --color-red-light: hsl(346, 87%, 46%, 15%);
    --color-green: #00c476;
    --color-green-light: hsl(156, 100%, 38%, 15%);
    --color-black: #000000;
    --color-bg: #D5E9F1;
    --color-white-gray: rgba(255, 255, 255, 0.7);
    --color-black-gray: rgba(0, 0, 0, 0.8);

    /* Transition Variables*/
    --transition: all 300ms ease;
    --transition-slow: all 1s ease;

    /* container widths  */
    --container-width-lg: 74%;
    --container-width-md: 88%;
    --container-width-sm: 66%;
    --form-width: 40%;

    /* card border radius */
    --card-border-radius-1: 0.3rem;
    --card-border-radius-2: 0.5rem;
    --card-border-radius-3: 0.8rem;
    --card-border-radius-4: 2rem;
    --card-border-radius-5: 5rem;
    --card-border-radius-all: 100%;
}

/* ============ General ============ */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    appearance: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat',
        sans-serif;
}

body {
    line-height: 1.6;
    color: var(--color-black-gray);
    overflow-x: hidden;
    background: var(--color-bg);
    font-size: 0.9rem;
}

.container {
    width: var(--container-width-sm);
    max-width: 1800px;
    margin-inline: auto;
}

section {
    margin-top: 3rem;
    width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-black);
    line-height: 1.3;
}

h1 {
    font-size: 3rem;
    margin: 1rem 0;
}

h2 {
    font-size: 1.7rem;
    margin: 1rem 0;
}

h3 {
    font-size: 1.1rem;
    margin: 0.8rem 0 0.5rem;
}

h4 {
    font-size: 1rem;

}

a {
    color: var(--color-white);
    transition: var(--transition);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

/* ============ Nav ============ */

nav {
    background-color: var(--color-primary);
    width: 100vw;
    height: 4.5rem;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav button {
    display: none;
}

.nav-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--container-width-lg);
}

.nav-logo {
    font-weight: bold;
    font-size: 1.3rem;
}

.nav-search-container {
    position: relative;
    width: 15rem;
    background: var(--color-white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 0.3rem 0.5rem;
    border-radius: var(--card-border-radius-5);
    color: var(--color-black);
}

.nav-search {
    width: 100%;
    display: flex;
    align-items: center;
}

.nav-search i {
    font-size: 1.3rem;
}

.nav-search input {
    background: transparent;
    margin-left: 0.7rem;
    padding: 0.5rem 0;
    width: 100%;
}

.nav-search input::placeholder {
    color: var(--color-black-gray);
    font-family: 'Montserrat', sans-serif;
}

.sign-up {
    padding: 0.5rem 1rem;
    background: var(--color-variant);
    border-radius: var(--card-border-radius-2);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}


.avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    overflow: hidden;
    border: 0.2rem solid var(--color-primary-dark);
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav-profile {
    position: relative;
    cursor: pointer;

}

.nav-profile ul {
    position: absolute;
    top: 140%;
    right: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.4);
    visibility: hidden;
    opacity: 0;
    transition: var(--transition);
}

/* show nav ul when nav profile is hovered */
.nav-profile:hover>ul {
    visibility: visible;
    opacity: 1;
}

.nav-profile ul li a {
    padding: 1rem;
    background: var(--color-primary-dark-variant);
    display: block;
    width: 100%;
}

.nav-profile ul li:last-child a {
    background: var(--color-red);
    color: var(--color-bg);
}

/* ============ Hero Section ============ */
.hero-section {
    background: linear-gradient(180deg, #4F1CEE 0%, #6E45ED 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 930px;
}

.hero-section-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0rem 10rem;
}

.hero-section-content {
    width: 70%;
    margin-top: 8rem;
    display: inline;
    z-index: 2;
    align-self: start;
}

.hero-section-title {
    font-size: 4.5rem;
    font-weight: bold;
    color: var(--color-white);
}

.hero-section-paragraph {
    font-size: 1rem;
    font-weight: normal;
    color: var(--color-white-gray);
    line-height: 1.5rem;
}

.action-button {
    margin-top: 2rem;
    padding: 1.2rem 2.5rem;
    background: var(--color-variant);
    border-radius: 5%;
    border-radius: var(--card-border-radius-2);
    color: var(--color-white);
    font-size: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    display: inline-block;
}

.hero-section-container>img {
    display: inline;
    z-index: 1;

}

/* ============ FEATURED SECTION ============ */



.section-title {
    text-align: center;
    color: var(--color-black);
    margin: 10rem 0rem;
}

.featured-area {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.featured-container {
    width: var(--container-width-lg);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}

.featured-container:hover .post-thumbnail img {
    filter: saturate(0);
    transition: filter 500ms ease;
}

.next-button {
    position: relative;
    background: var(--color-primary-variant);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: var(--color-white);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}

.post-thumbnail {
    height: fit-content;
    border-radius: var(--card-border-radius-5) 0;
    border: 0.6rem solid var(--color-primary-variant);
    overflow: hidden;
    margin-bottom: 1.6rem;

}



.category-button {
    background: var(--color-primary-variant);
    color: var(--color-white);
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: var(--card-border-radius-2);
    font-weight: 500;
    font-size: 0.8rem;
    text-align: center;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;

}


.featured-title {
    margin: 0.5rem 0;
    color: var(--color-black);
    font-size: 1.6rem;
}

.featured-paragraph {
    color: var(--color-black-gray);
    font-weight: 500;
}

.post-author {
    display: flex;
    gap: 0.6rem;
    margin-top: 1.2rem;
}

.post-author-avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: var(--card-border-radius-3);
    overflow: hidden;
}

.post-avatar-info {
    color: var(--color-black-gray);
    font-weight: 500;
}

.post-avatar-info>h5 {
    color: var(--color-black-gray);
    font-weight: 700;
}

.featured-pages-container {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.featured-pages {
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.featured-page {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
    background: var(--color-black);
}

.featured-active-page {
    background: var(--color-primary-variant);

}

/* ============ Horizon Line  ============ */

.hr {
    height: 1px;
    background-color: var(--color-primary);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}

/* ============ NEW PAGES SECTION ============ */

.home-page-new-posts-page-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 5rem;
    margin-bottom: 5rem;
}

.new-post-title a {
    color: var(--color-black);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.new-post-body a,
.new-post-author-info a,
.new-post-author-info a h5 {
    color: var(--color-black-gray);
    font-weight: 500;

}

.new-post-body {
    margin-bottom: 0.5rem;
}

/* ============ Category Buttons SECTION ============ */



.category-buttons-container {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-bottom: 10rem;
}



.category-button-section {
    padding: 1rem 2rem;
    font-size: 0.8rem;
    transition: var(--transition);
}


/* ============ FOOTER SECTION ============ */

footer {
    background: var(--color-primary);
    padding: 5rem 0 0;
    box-shadow: inset 0 1.5rem 1.5rem rgba(0, 0, 0, 0.2);
}

.footer-socials {
    margin-inline: auto;
    width: fit-content;
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.2rem;
}

.footer-socials a {
    background: var(--color-white);
    color: var(--color-black);
    border-radius: 50%;
    width: 2.3rem;
    height: 2.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.footer-socials a:hover {
    background: var(--color-black);
    color: var(--color-white);
}

.footer-container {
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer h4 {
    color: var(--color-white);
    margin-bottom: 0.6rem;
}

footer ul li {
    padding: 0.4rem 0;
}

footer ul a {
    opacity: 0.75;
}

footer ul a:hover {
    letter-spacing: 0.2rem;
    opacity: 1;
}

.footer-copyright {
    text-align: center;
    padding: 1.5rem 0;
    border-top: 2px solid var(--color-bg);
    color: var(--color-white);
}

/* ============ Blog Page  ============ */

.page-title {
    text-align: center;
    color: var(--color-black);
    margin: 13rem 0rem 10rem;
}

.search-bar-container {
    position: relative;
    width: 50rem;
    height: 4rem;
    background: var(--color-white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 0.6rem 1rem;
    border-radius: var(--card-border-radius-5);
    color: var(--color-white-gray);
}

.search-bar-container>div {
    width: 100%;
    display: flex;
    align-items: center;
    color: #000000;
    font-size: 1.2rem;
}

.search-bar input {
    background: transparent;
    margin-left: 0.7rem;
    padding: 0.5rem 0;
    width: 100%;
    font-size: 1rem;
}

.search-bar input::placeholder {
    color: var(--color-black-gray);
}

.section-subtitle {
    font-size: 2rem;
    text-align: center;
    color: var(--color-black);
    margin: 10rem 0rem 10rem;
}

.new-posts-page-container {
    width: var(--container-width-lg);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    margin-bottom: 5rem;
}

.new-post-author {
    display: flex;
    gap: 0.6rem;
    margin-top: 1.2rem;
}

.new-post-author h5 {
    color: var(--color-black-gray);
    margin-top: 1rem;
}

.new-post-author-avatar {
    width: 2rem;
    height: 2.2em;
    border-radius: var(--card-border-radius-5);
    overflow: hidden;
}

.pages-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8rem;
}

.pages {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.page {
    padding: 0.4rem 0.8rem;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    transition: var(--transition-slow);
}

.page:hover {
    background: var(--color-black);
    color: white;
}


.active-page {
    background-color: var(--color-variant);

}

/* ============ About Page  ============ */

.about-section {
    margin: 8rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-container {
    width: var(--container-width-md);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    margin: 3rem 0;
}


.about-content h3 {
    margin-top: 2rem;
    font-size: 36px;
}

.about-content p {
    font-weight: 500;
    font-size: 16px;
    margin: 1rem 0;
    color: rgba(0, 0, 0, 0.6);
}

.about-section-2 {
    background: var(--color-primary);
}

.about-content-2 h3 {
    color: var(--color-white);
}

.about-content-2 p {
    color: rgba(255, 255, 255, 0.6);
}

.credits-title {
    text-align: center;
    margin: 10rem 0rem 5rem;
    font-size: 40px;
}

.credits {
    margin: 0 0 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.credits-container {
    width: 35%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.credits-container img {
    border-radius: var(--card-border-radius-all);
    border-color: black;
    border-width: 1rem;
    outline: #000000 solid 4px;
}

.credits-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.credits-content h3 {
    font-size: 32px;
}

.credits-content a p {
    color: var(--color-black);
    font-size: 22px;
    font-weight: 600;
}

.credits-content a p i {
    font-size: 60px;
    margin-right: 1rem;
}

/* ============ Contacts Page  ============ */
.contacts-section {
    margin: 8rem 0;
}

.section-container {
    height: 25rem;
    width: var(--container-width-lg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact a {
    gap: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

.contact a i {
    font-size: 1.6rem;
    color: black;
}

/* ============ Individual Page ============ */

.individual-post {
    display: flex;
    justify-content: center;
    align-items: center;
}

.individual-post-container {
    width: var(--container-width-lg);
    background: var(--color-primary-dark);
    margin: 7rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.6);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: var(--color-white-gray);
}

.individual-post-content {
    grid-column: 1 / 4;
    padding: 3rem;
}

.individual-post-title {
    margin: 0;
    text-align: left;
    font-size: 2.4rem;
    color: var(--color-white);
}

.individual-post-author {
    margin-top: 1rem;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 0.5rem;
}

.individual-post-author img {
    width: 3.5rem;
    border-radius: var(--card-border-radius-2);
}

.individual-post-author-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 3.5rem;
}

.individual-post-author-info h5 {
    font-size: 14px;
    color: var(--color-white);
}

.individual-post-author-info small {
    font-size: 13px;
    font-weight: 500;
}

.individual-post-content>img {
    margin: 2rem 0;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.6);
}

.individual-post-content>p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.individual-post-sidebar {
    display: flex;
    align-items: center;
}

.individual-post-vertical-line {
    display: none;
}

.individual-post-sidebar-vertical-line {
    height: 90%;
    display: inline-block;
    width: 1px;
    background: rgba(241, 241, 241, 0.3);
}

.individual-post-sidebar-content {
    padding: 1.4rem;
    align-self: self-start;
}

.individual-post-sidebar-section-title {
    font-weight: bold;
    font-size: 18px;
    margin: 0.5rem 0;
    color: var(--color-white);
}

.individual-post-sidebar-author {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 0.5rem 0;
}

.individual-post-sidebar-author>img {
    width: 6rem;
    border-radius: var(--card-border-radius-all);
}

.individual-post-sidebar-author-info {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.individual-post-sidebar-author-name {
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.individual-post-sidebar-author-location {
    font-size: 10px;
}

.individual-post-sidebar-author-location i {
    font-size: 14px;
}

.individual-post-sidebar-author-mail {
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    transition: var(--transition-slow);
    color: var(--color-white-gray);
}

.individual-post-sidebar-author-mail:hover {
    color: var(--color-white);
}

.individual-post-sidebar-author-mail i {
    font-size: 24px;
}

.individual-post-sidebar-horizontal-line {
    width: 100%;
    height: 1px;
    background: rgba(241, 241, 241, 0.3);
}

.sidebar-post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 2rem;
    margin-bottom: 1rem;
}

.sidebar-post-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 1rem;
}

.sidebar-post-thumbnail {
    /* 16:9 size */
    width: 150px;
    height: 84px;
}

.sidebar-post-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 0.5rem;
}

.sidebar-post-author {
    display: flex;
    justify-content: start;
    align-items: end;
    gap: 0.5rem;
}

.sidebar-post-author>img {
    width: 1.3rem;
    height: 1.3rem;
    border-radius: var(--card-border-radius-all);
    outline: 2px var(--color-black) solid;
}

.sidebar-post-author>h6 {
    color: var(--color-white-gray);
}

.sidebar-categories {
    margin-top: 1rem;
    margin-bottom: 10rem;
}

.sidebar-categories-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    padding: 0 1rem;
}

.sidebar-category {
    color: var(--color-white-gray);
    font-size: 14px;
}

.sidebar-category:hover {
    text-decoration: underline;
    color: var(--color-white-gray);
}

/* ============ Search Posts Page ============ */

.search-pages-query-section {
    margin: 8rem 0 3rem;
}

.search-query {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
}

.search-query h6 {
    font-size: 1rem;
}

.search-query p {
    font-size: 14px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
}

.search-pages-container {
    width: var(--container-width-md);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.search-pages-result-container {
    width: 100%;
    margin: 0;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem 0;
}

.search-pages-result {
    grid-column: 1 / 4;
}

.individual-post-sidebar {
    grid-column: 4 / 4;
}

.search-posts-sidebar-content {
    padding: 0rem 1.4rem;
}

.search-posts-sidebar-vertical-line {
    background: rgba(0, 0, 0, 0.3);
}

.search-posts-sidebar-section-title {
    color: var(--color-black);
}

.search-posts-sidebar-new-post-author>h6 {
    color: var(--color-black-gray);
}

.search-posts-sidebar-popular-post-content p {
    color: var(--color-black);
    font-weight: 500;
}

.search-posts-sidebar-category {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 500;
}

.search-posts-sidebar-category:hover {
    color: rgba(0, 0, 0, 0.8);
}

.search-posts-sidebar-horizontal-line {
    background: rgba(0, 0, 0, 0.3);
}

/* ============  Form Pages ============ */

.form-section {
    display: grid;
    place-items: center;
    height: 100vh;
    margin-top: 0rem;
    background: var(--color-primary-dark);
}

.form-section-alt {
    display: grid;
    place-items: center;
    margin-top: 0rem;
    padding: 6rem;
    background: var(--color-primary-dark);
}

.form-section-container {
    width: var(--form-width);
}

.form-section-container>h2 {
    color: var(--color-white);
}

.alert-message {
    padding: 0.8rem 1.4rem;
    margin-bottom: 1rem;
    border-radius: var(--card-border-radius-2);
}

.alert-message-manage {
    width: var(--container-width-lg);
}



.alert-message.error {
    background: var(--color-red-light);
    color: var(--color-red);
}

.alert-message-manage.error {
    background: hsla(346, 98%, 53%, 0.253);

}


.alert-message.success {
    background: var(--color-green-light);
    color: var(--color-green);
}

.alert-message-manage.success {
    background: hsla(156, 100%, 38%, 0.267);
    color: #00804d;



}


.form-general {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-general label {
    color: var(--color-white);
}

.form-control {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.form-control.inline {
    flex-direction: row;
    align-items: center;
}

.form-general input,
.form-general textarea,
.form-general select {
    padding: 0.8rem 1.4rem;
    background: var(--color-primary-dark-variant);
    border-radius: var(--card-border-radius-2);
    resize: none;
    color: var(--color-white);
}

.form-section small,
.form-section-alt small {
    margin-top: 1rem;
    display: block;
    color: var(--color-white-gray);
}

.form-section small a,
.form-section-alt small a {
    color: var(--color-variant);
    font-weight: 500;
}

.btn {
    display: inline-block;
    width: fit-content;
    padding: 0.6rem 1.2rem;
    background-color: var(--color-variant);
    border-radius: var(--card-border-radius-2);
    cursor: pointer;
    transition: var(--transition);
    color: var(--color-white);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    font-weight: 500;
}

.btn.sm {
    padding: 0.3rem 0.7rem;
    font-size: 0.8rem;
}

.btn.danger {
    background: var(--color-red);
}

.btn:hover {
    background: var(--color-primary);
    color: var(--color-white);
}

/* ============  Text Editor ============ */

.text-editor-container {
    background: var(--color-primary-dark-variant);
}

.text-editor-header {
    background-color: rgb(21, 5, 70);
    padding: 5px;

}

.text-editor-header .btn-text-editor {
    border: 0;
    outline: 0;
    background: transparent;
    margin-right: 5px;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    color: white;
}

.text-editor-header .btn-text-editor:active {
    color: rgba(200, 200, 200, 1);
    outline: rgb(15, 3, 53);
}

.text-editor-content {
    min-height: 200px;
    border: 0;
    padding: 20px;
    width: 100%;
    overflow-x: hidden;
    color: white;
    font-weight: normal;
}

.text-editor-content u {
    text-decoration: underline;
}

.text-editor-content a {
    color: #9e4aff;
}

.text-editor-content a:hover {
    text-decoration: underline 1px solid var(--color-white-gray);
    transition: var(--transition);
}

.text-editor-content ul,
.text-editor-content ul li {
    list-style: inside disc;
}

.text-editor-content ol,
.text-editor-content ol li {
    list-style: inside decimal;
}

.text-editor-content img {
    width: 100%;
    object-fit: cover;
}

#hidden-input {
    width: 1px;
    height: 1px;
    background-color: transparent;
    border: transparent;
    resize: none;
    overflow: hidden;
    padding: 0;
}

/* ============  Content Test ============ */

.content-test-container {
    min-height: 70vh;
}

.content-test-content {
    grid-column: 1 / 5;

}

.content-test-title {
    margin-bottom: 1rem;
}



.content-test-body>div img {
    object-fit: cover;
    display: block;
    margin: 0 auto;
    width: 100%;
}

.content-test-body>div a {
    font-size: 13px;
}

.content-test-body u {
    text-decoration: underline;
}

.content-test-body a {
    color: #9e4aff;
}

.content-test-body a:hover {
    text-decoration: underline 1px solid var(--color-white-gray);
    transition: var(--transition);
}

.content-test-body ul,
.content-test-body ul li {
    list-style: inside disc;
}

.content-test-body ol,
.content-test-body ol li {
    list-style: inside decimal;
}

.content-test-body img {
    width: 100%;
    object-fit: cover;
}

/* ============  Profile User Page ============ */

.profile-section {
    margin-top: 8rem;
}

.profile-container {
    width: var(--container-width-lg);
    display: grid;
    grid-template-columns: 14rem auto;
    gap: 1rem;
    background-color: var(--color-primary);
    padding: 2rem;
    margin-bottom: 5rem;
}

.sidebar-toggle {
    display: none;
}

.profile-sidebar a {
    background: var(--color-variant);
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1.6rem;
}

.profile-sidebar a h5 {
    font-size: 0.9rem;
    color: var(--color-white);
    font-weight: normal;
}

.profile-sidebar-active {
    background: var(--color-primary) !important;
}

.profile-info {
    margin-left: 1rem;
}


.profile-title {
    color: var(--color-white);
    font-size: 1.6rem;
}

.profile-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-user-info {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 1rem;
}

.profile-user-info>img {
    width: 7rem;
    border-radius: var(--card-border-radius-all);
    outline: 2px solid var(--color-white-gray);
}

.profile-user-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 7rem;
}

.profile-user-content>h5 {
    padding-top: 1rem;
    font-size: 16px;
    font-weight: bold;
    color: var(--color-white);
}

.admin {
    color: var(--color-green);
}

.profile-user-content>h6 {
    font-size: 12px;
    color: var(--color-white-gray);
}

.profile-user-content>h6 i {
    font-size: 16px;
    margin-right: 0.4rem;
}

.profile-user-content>small {
    font-size: 10px;
    color: var(--color-white);
    font-weight: bold;
}

.profile-user-content>small i {
    font-size: 14px;
    margin-right: 0.4rem;
}

.profile-bio-title {
    font-size: 1.6rem;
    color: var(--color-white-gray);
}

.profile-bio>p {
    color: var(--color-white-gray);
}

.manage-content {
    margin-left: 1.5rem;
}

.manage-content h2 {
    margin: 0 0 2rem 0;
    line-height: 1;
    color: var(--color-white);
}

.manage-content table {
    width: 100%;
    text-align: left;

}

.manage-content table th {
    background: var(--color-primary-dark-variant);
    padding: 0.8rem;
    color: var(--color-white);
}

.manage-content table td {
    padding: 0.8rem;
    border-bottom: 1px solid var(--color-white-gray);
    color: var(--color-white-gray);
}

.manage-content table tr:hover td {
    background: rgba(0, 0, 0, 0.4);
    color: var(--color-white);
    cursor: default;
    transition: var(--transition);
}

/* confirm message style */
.popup {
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    z-index: 5;
    visibility: hidden;
    transition: transform 0.4s,
        top 0.4s;
}

.open-popup {
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    top: 50%;
}

.popup img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2 {
    color: black;
    font-size: 32px;
    font-weight: 500;
    margin: 15px 0 10px;
}

.popup p {
    font-weight: 500;
}

.confirmation-btn {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.confirmation-btn .options-btn {
    width: 45%;
    padding: 10px 0;
    border: 0;
    outline: none;
    color: #f3f3f3;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

}

.confirmation-btn .options-btn:hover {
    opacity: 0.9;
}

.confirmation-btn .options-btn:active {
    opacity: 1;
}

#cancel-btn {
    background: rgb(190, 21, 21);

}

#ok-btn {
    background: #67c445;

}

/* #region MEDIA QUERIES (MEDIA DEVICES) */

@media screen and (max-width: 1024px) {

    /* ============  General ============ */



    .container {
        width: var(--container-width-md);
    }

    h2 {
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    h5 {
        font-size: 0.8rem;
    }

    /* ============  Nav ============ */
    nav button {
        display: inline-block;
        font-size: 1.5rem;
        background: transparent;
        color: var(--color-white);
        cursor: pointer;
    }

    nav button#close-nav-btn {
        display: none;
    }

    .nav-container {
        position: relative;
    }

    .nav-items-right {
        display: none;
        position: absolute;
        flex-direction: column;
        top: 100%;
        right: 0;
        width: 12rem;
        align-items: flex-start;
        justify-content: center;
        gap: 0;
    }

    .nav-items-right li {
        width: 100%;
        height: 4.5rem;
        display: flex;
        align-items: center;
        box-shadow: -2rem 3rem 7rem rgba(0, 0, 0, 0.7);
        background: var(--color-primary-dark-variant);
        border-top: 1px solid var(--color-black);
        animation: animateDropdown 400ms 0s ease forwards;
        opacity: 0;
        transform-origin: top;
    }

    .nav-items-right li:nth-child(2) {
        animation-delay: 200ms;
        perspective: 400px;
    }

    .nav-items-right li:nth-child(3) {
        animation-delay: 400ms;
        perspective: 400px;
    }

    .nav-items-right li:nth-child(4) {
        animation-delay: 600ms;
        perspective: 400px;
    }

    .nav-items-right li:nth-child(5) {
        animation-delay: 800ms;
        perspective: 400px;

    }

    /* nav dropdown animation */
    @keyframes animateDropdown {
        0% {
            transform: rotateX(90deg);
        }

        100% {
            transform: rotateX(0deg);
            opacity: 1;
        }
    }

    .nav-items-right li a {
        border-radius: 0;
        width: 100%;
        height: 100%;
        background: var(--color-gray-900);
        padding: 0 2rem;
        display: flex;
        align-items: center;
    }

    .nav-profile {
        background: var(--color-gray-900);
    }

    .nav-profile ul {
        top: 100%;
        width: 100%;
    }

    .nav-profile .avatar {
        margin-left: 2rem;
        border: 0;
    }

    /* ============  Hero Section ============ */

    .hero-section-container {
        margin: 0 2rem;
    }

    .hero-section-title {
        font-size: 3rem;
    }

    .hero-section-container>img {
        width: 30rem;

    }

    .action-button {
        padding: 1rem 2rem;
    }

    /* ============  New posts page container ============ */
    .new-posts-page-container,
    .home-page-new-posts-page-container {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    /* ============  About Page ============ */
    .about-container {
        gap: 1rem;
    }

    .about-container>img {
        place-self: center;
    }

    .credits-container {
        width: 60%;
    }

    /* ============  General Form ============ */



    .form-section-container {
        padding: 3rem;
    }

    /* ============  Dashboard Pages ============ */

    .profile-container {
        grid-template-columns: 4.5rem auto;
        padding: 0;
        background: transparent;
    }

    .profile-title,
    .profile-bio-title,
    .profile-user-content h5,
    .profile-user-content small {
        color: black;
    }

    .profile-user-content>h6,
    .profile-bio>p {
        color: var(--color-black-gray);
    }

    .profile-sidebar h5 {
        display: none;
    }

    .manage-content table thead {
        display: none;
    }

    .manage-content table tr {
        display: flex;
        flex-direction: column;
    }

    .manage-content table tr td {
        color: var(--color-black-gray);
    }

    .manage-content table tr:nth-child(even) {
        background: var(--color-primary-variant);
    }

    .manage-content table tr:nth-child(even) td {
        color: var(--color-black-gray);
    }

    .manage-content table tr:hover td {
        background: transparent;
        color: var(--color-black);
        cursor: default;
        transition: var(--transition);
    }

    .manage-content h2 {
        color: var(--color-black);
    }

    .form-section-alt {
        padding: 2rem 0;
        min-height: 1180px;
        /* height: 1180px; */
        /* Edit */
    }

    /* ============  Post Pages ============ */

    .individual-post-container {
        margin: 7rem 0;
    }

    .pages {
        width: 100%;
    }
}

/* #endregion */


/* #region MEDIA QUERIES (SMALL DEVICES)  */

@media screen and (max-width: 600px) {
    section {
        margin-top: 2rem;
    }

    h1 {
        font-size: 2rem;
    }

    /* ============  Nav ============ */

    .nav-items-left {
        gap: 0.5rem;
        width: 90%;
        justify-content: flex-start;
    }

    .nav-items-left li {
        width: 80px;
    }

    .nav-items-left li a {
        text-align: center;
        gap: 0rem;
    }

    .nav-search-container {
        width: 12rem;
    }

    .nav-logo {
        text-align: center;
        width: fit-content;
    }

    /* ============  Hero Section ============ */

    .hero-section {
        height: 750px;
    }

    .hero-section-container {
        flex-direction: column;
        margin: 0.2rem;
        align-items: start;
        gap: 2rem;
        justify-content: flex-start;
    }

    .hero-section-content {
        margin: 4rem 0.1rem 0rem;
        width: 100%;
    }

    .hero-section-title {
        font-size: 2rem;
    }

    .hero-section-container>img {
        width: 100%;

    }

    .action-button {
        padding: 0.8rem 1.6rem;
    }

    /* ============  Hero Section ============ */

    .featured-container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .featured-pages {
        width: 30%;
    }

    .next-button {
        width: 40px;
        height: 40px;
        font-size: 2rem;
    }

    /* ============  New Posts Section ============ */

    .new-posts-page-container {
        grid-template-columns: repeat(1, 1fr) !important;
    }

    .pages-container {
        margin: 3rem;
    }


    .category-buttons {
        padding: 0rem 1rem;
    }

    .category-buttons-container {
        width: fit-content;
        grid-template-columns: 1fr 1fr;
    }

    .category-button-section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* ============  Footer ============ */


    .footer-container {
        grid-template-columns: 1fr;
        text-align: center;
        align-items: center;
        gap: 2rem;
    }

    /* ======================= GENERAL FORM ========================= */

    .form-section {
        height: 100vh;
    }

    .form-section-container {
        padding: 0;

    }

    .form-section.add-content {
        height: 120vh;
    }

    .form-section-alt {
        /* height: 1180px; */
        /* Edit */
        padding: 5rem 0;
    }

    /* ======================= DASHBOARD PAGE ========================= */

    .profile-section {
        margin-top: 8rem;
    }

    .profile-container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .manage-content {
        margin: 0;
    }

    .manage-content h2 {
        margin-top: 1rem;
    }

    .profile-sidebar {
        position: fixed;
        box-shadow: 2rem 0 4rem rgba(0, 0, 0, 0.4);
        top: 11%;
        left: -100%;
        height: 100vh;
        transition: var(--transition);
        background: var(--color-variant);
    }

    .profile-section .sidebar-toggle {
        display: inline-block;
        background: var(--color-primary-variant);
        color: var(--color-white);
        position: fixed;
        right: 0;
        bottom: 4rem;
        z-index: 1;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50% 0 0 50%;
        font-size: 1.3rem;
        cursor: pointer;
        box-shadow: -1rem 0 2rem rgba(0, 0, 0, 0.4);
    }

    .profile-sidebar a h5 {
        display: inline-block;
    }

    #hide-sidebar-btn {
        display: none;
    }

    .profile-user {
        align-items: flex-start;
    }

    .profile-user-info {
        flex-direction: column;
    }

    .profile-user-content {
        height: 6rem;
    }

    /* ======================= About PAGE ========================= */
    .about-container {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .credits-container {
        width: 95%;
    }

    .credits-content {
        justify-content: center;
    }

    .credits-content h3 {
        font-size: 26px;
    }

    .credits-content a p {
        font-size: 16px;
    }

    .credits-content a p i {
        font-size: 40px;
        margin-right: 0.5rem;
    }

    /* ======================= Post PAGE ========================= */
    .individual-post-container {
        display: block;
    }

    .individual-post-sidebar {
        display: block;
    }

    .individual-post-content {
        padding: 1rem;
    }

    .individual-post-sidebar-content {
        padding: 1rem;

    }

    .individual-post-sidebar-vertical-line {
        display: none;
    }

    .individual-post-vertical-line {
        display: block;
        width: 90%;
        height: 3px;
        background: rgba(241, 241, 241, 0.3);
    }

    /* ======================= Search Posts PAGE ========================= */

    .search-pages-container {
        display: block;

    }

    .search-posts-sidebar-content {
        padding: 0;
    }

    .search-posts-vertical-line {
        width: 100%;
        margin: 6rem 0;
        background: rgba(0, 0, 0, 0.3);
    }

    /* ============  Text Editor ============ */

    .text-editor-content img {
        object-fit: cover;
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }


    /* ============  Confirmation Message ============ */
    .popup {
        width: 90%;
    }
}

/* #endregion */