:root {
    /* Color Variables */
    --color-primary: #4F1CEE;
    --color-primary-variant: #6C63FF;
    --color-primary-light: #6E45ED;
    --color-variant: rgba(39, 132, 158, 1);
    --color-white: #f2f2fe;
    --color-red: #da0f3f;
    --color-black: #000000;
    --color-bg: #D5E9F1;
    --color-white-gray: rgba(255, 255, 255, 0.6);
    --color-black-gray: rgba(0, 0, 0, 0.6);

    /* Transition Variables*/
    --transition: all 300ms ease;

    /* container widths  */
    --container-width-lg: 74%;
    --container-width-md: 88%;
    --container-width-sm: 66%;
    --form-width: 40%;

    /* card border radius */
    --card-border-radius-1: 0.3rem;
    --card-border-radius-2: 0.5rem;
    --card-border-radius-3: 0.8rem;
    --card-border-radius-4: 2rem;
    --card-border-radius-5: 5rem;
}

/* ============ General ============ */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    appearance: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat',
        sans-serif;
}

body {
    line-height: 1.6;
    color: var(--color-black-gray);
    overflow-x: hidden;
    background: var(--color-bg);
    font-size: 0.9rem;
}

.container {
    width: var(--container-width-sm);
    max-width: 1800px;
    margin-inline: auto;
}

section {
    margin-top: 3rem;
    width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-black);
    line-height: 1.3;
}

h1 {
    font-size: 3rem;
    margin: 1rem 0;
}

h2 {
    font-size: 1.7rem;
    margin: 1rem 0;
}

h3 {
    font-size: 1.1rem;
    margin: 0.8rem 0 0.5rem;
}

h4 {
    font-size: 1rem;

}

a {
    color: var(--color-white);
    transition: var(--transition);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

/* ============ Nav ============ */

nav {
    background-color: var(--color-primary);
    width: 100vw;
    height: 4.5rem;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav button {
    display: none;
}

.nav-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    font-weight: bold;
    font-size: 1.3rem;
}

.nav-search-container {
    position: relative;
    width: 15rem;
    background: var(--color-white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 0.3rem 0.5rem;
    border-radius: var(--card-border-radius-5);
    color: var(--color-black);
}

.nav-search {
    width: 100%;
    display: flex;
    align-items: center;
}

.nav-search i {
    font-size: 1.3rem;
}

.nav-search input {
    background: transparent;
    margin-left: 0.7rem;
    padding: 0.5rem 0;
    width: 100%;
}

.nav-search input::placeholder {
    color: var(--color-black-gray);
    font-family: 'Montserrat', sans-serif;
}

.sign-up {
    padding: 0.5rem 1rem;
    background: var(--color-variant);
    border-radius: var(--card-border-radius-2);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}


.avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    overflow: hidden;
    border: 0.3rem solid var(--color-white);
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav-profile {
    position: relative;
    cursor: pointer;

}

.nav-profile ul {
    position: absolute;
    top: 140%;
    right: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.4);
    visibility: hidden;
    opacity: 0;
    transition: var(--transition);
}

/* show nav ul when nav profile is hovered */
.nav-profile:hover>ul {
    visibility: visible;
    opacity: 1;
}

.nav-profile ul li a {
    padding: 1rem;
    background: var(--color-primary);
    display: block;
    width: 100%;
}

.nav-profile ul li:last-child a {
    background: var(--color-red);
    color: var(--color-bg);
}

/* ============ Hero Section ============ */
.hero-section {
    background: linear-gradient(180deg, #4F1CEE 0%, #6E45ED 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 930px;
}

.hero-section-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0rem 10rem;
}

.hero-section-content {
    width: 70%;
    margin-top: 8rem;
    display: inline;
    z-index: 2;
    align-self: start;
}

.hero-section-title {
    font-size: 4.5rem;
    font-weight: bold;
    color: var(--color-white);
}

.hero-section-paragraph {
    font-size: 1rem;
    font-weight: normal;
    color: var(--color-white-gray);
    line-height: 1.5rem;
}

.action-button {
    margin-top: 2rem;
    padding: 1.2rem 2.5rem;
    background: var(--color-variant);
    border-radius: 5%;
    border-radius: var(--card-border-radius-2);
    color: var(--color-white);
    font-size: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    display: inline-block;
}

.hero-section-container>img {
    scale: 0.9;
    display: inline;
    z-index: 1;

}

/* ============ FEATURED SECTION ============ */



.section-title {
    text-align: center;
    color: var(--color-black);
    margin: 10rem 0rem;
}

.featured-area {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.featured-container {
    width: var(--container-width-lg);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}

.featured-container:hover .post-thumbnail img {
    filter: saturate(0);
    transition: filter 500ms ease;
}

.next-button {
    position: relative;
    background: var(--color-primary-variant);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: var(--color-white);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}

.post-thumbnail {
    height: fit-content;
    border-radius: var(--card-border-radius-5) 0;
    border: 0.6rem solid var(--color-primary-variant);
    overflow: hidden;
    margin-bottom: 1.6rem;

}



.category-button {
    background: var(--color-primary-variant);
    color: var(--color-white);
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: var(--card-border-radius-2);
    font-weight: 500;
    font-size: 0.8rem;
    text-align: center;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;

}


.featured-title {
    margin: 0.5rem 0;
    color: var(--color-black);
    font-size: 1.6rem;
}

.featured-paragraph {
    color: var(--color-black-gray);
    font-weight: 500;
}

.post-author {
    display: flex;
    gap: 0.6rem;
    margin-top: 1.2rem;
}

.post-author-avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: var(--card-border-radius-3);
    overflow: hidden;
}

.post-avatar-info {
    color: var(--color-black-gray);
    font-weight: 500;
}

.post-avatar-info>h5 {
    color: var(--color-black-gray);
    font-weight: 500;
}

.featured-pages-container {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.featured-pages {
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.featured-page {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
    background: var(--color-black);
}

.featured-active-page {
    background: var(--color-primary-variant);

}

/* ============ Horizon Line  ============ */

.hr {
    height: 1px;
    background-color: var(--color-primary);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}

/* ============ NEW PAGES SECTION ============ */

.new-posts-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    margin-bottom: 5rem;
}

.new-post-title a {
    color: var(--color-black);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.new-post-body a,
.new-post-author-info a,
.new-post-author-info a h5 {
    color: var(--color-black-gray);
    font-weight: 500;

}

.new-post-body {
    margin-bottom: 1rem;
}

/* ============ Category Buttons SECTION ============ */



.category-buttons-container {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-bottom: 10rem;
}



.category-button-section {
    padding: 1rem 2rem;
    font-size: 0.8rem;
    transition: var(--transition);
}


/* ============ FOOTER SECTION ============ */

footer {
    background: var(--color-primary);
    padding: 5rem 0 0;
    box-shadow: inset 0 1.5rem 1.5rem rgba(0, 0, 0, 0.2);
}

.footer-socials {
    margin-inline: auto;
    width: fit-content;
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.2rem;
}

.footer-socials a {
    background: var(--color-white);
    color: var(--color-black);
    border-radius: 50%;
    width: 2.3rem;
    height: 2.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.footer-socials a:hover {
    background: var(--color-black);
    color: var(--color-white);
}

.footer-container {
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer h4 {
    color: var(--color-white);
    margin-bottom: 0.6rem;
}

footer ul li {
    padding: 0.4rem 0;
}

footer ul a {
    opacity: 0.75;
}

footer ul a:hover {
    letter-spacing: 0.2rem;
    opacity: 1;
}

.footer-copyright {
    text-align: center;
    padding: 1.5rem 0;
    border-top: 2px solid var(--color-bg);
    color: var(--color-white);
}